.wd-cropped-image {
    width: 300px; /* Set the desired width of the cropped image */
    height: 240px; /* Set the desired height of the cropped image */
    overflow: hidden;
    position: relative;
}

/*.image-cropped {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.wd-nudge-up {
    bottom: 7px;
    left: 25px;
}

.wd-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wd-picture-letter {
    font-size: 40px;
    position: absolute;
    text-align: center;
}

.wd-welcome-message {
    font-size: 40px;
    position: absolute;
    text-align: center;
    padding-bottom: 100px;
}


.wd-text-shadow {
    /*font-size: 24px;*/
    font-weight: bold;
    color: #333;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
}



.wd-sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.wd-round-button {
    border-radius: 75%;
    padding: 0.5rem;
}

.wd-truncate-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wd-font-size {
    font-size: 1.4rem;
}

.wd-sm-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.wd-explore-title {
    font-size: 24px;
    font-weight: bold;
    color: #11962f;
    margin-bottom: 16px;
}

.farmer-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inner-content {
    margin: 9px 0;
}

.wd-active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #1bbb40; /* Change this color to your desired highlight color */
}




