.wd-nudge-up {
    bottom: 18px;
    left: 25px;
}

.wd-picture-letter {
    bottom: 120px;
    left: 170px;
    font-size: 45px;
}


.wd-sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.wd-round-button {
    border-radius: 75%;
    padding: 0.5rem;
}

.wd-truncate-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
