.wd-login-background {
    background-image: url('/public/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
}


.wd-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #f5f5f5;*/
}

.wd-login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.wd-form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wd-login-button {
    background-color: #1067dc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    width: 100%;
}

.signup-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.signup-link {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #0d6efd;
    cursor: pointer;
    transition: all 0.3s;
    flex-grow: 1;
    text-align: center;
}

.signup-link.active-link {
    font-weight: 600;
}

.signup-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.signup-link.active-link::after {
    transform: scaleX(1);
}

.nav-item {
    flex-grow: 1;
}


