.center {
    position: relative;
    left: 15%;
}

.position-relative {
    position: relative;
}

.button {
    border:1px solid lightgray;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    margin-right: 15px;
}

.profile-picture {
    width: 100px;
    height: 100px;
}

.banner {
    width: 100%;
    height: 200px !important
}

.card-style {
    width: 18rem;
}

.store-picture {
    height: 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description-text {
    font-size: 14px;
    font-weight: 400;
    color: #6c757d;
}

.text-blue {
    color: #303e92;
}

.button-blue {
    border:1px solid #303e92 !important;
    background-color: #303e92 !important;
    color: white !important;
}

.save-button {
    border: 0px;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.profile-picture-edit {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -25px;
    left: 20px;
}

.textarea-height {
    height: 100px !important;
}

.transparent-button {
    background-color: transparent;
    border: 0px;
}